.guide-innerwrap {
  padding: 4rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.guide-innerbox {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
.guide-innerbox:nth-child(odd) {
  flex-direction: row-reverse;
}
.guide-innerbox div:first-of-type {
  width: 40%;
  height: 276px;
  border: 0;
  border-radius: 4px;
  overflow: hidden;
}
.guide-innerbox div:nth-of-type(2) {
  width: 60%;
  height: 276px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.guide-innerbox div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.txt-smaller {
  font-size: 0.9rem;
  font-weight: 500;
  color: #9fa4a8;
}
.txt-small {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}
.txt-main {
  font-size: 1.5rem;
  font-weight: bold;
  color: #111;
}

/* Mobile: ~ 480px */
@media (max-width: 480px) {
  .guide-innerwrap {
    padding: 3rem 0;
  }
  .guide-innerbox {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
  }
  .guide-innerbox:nth-child(odd) {
    flex-direction: inherit;
  }
  .guide-innerbox div:first-of-type {
    width: 100%;
    height: 276px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
  }
  .guide-innerbox div:nth-of-type(2) {
    width: 100%;
  }
}
